.root {
  padding: 10px 25px;
}

.header {
  margin-bottom: 5px;
}

.nickname {
  font-weight: 900;
  color: #2c2d30!important;
  font-size: 1.25rem;
}

.ts {
  color: #9e9ea6;
  font-size: .75rem;
  white-space: nowrap;
  margin-left: 10px;
}

.body {
  color: #2c2d30;
  word-wrap: break-word;
}

.same {
  padding-top: 0;
}