.root {
  padding: 15px;
}

.group {
  margin: 0 0 25px 0;
}

.user {
  font-weight: 900;
  color: #fff;
}

.label {
  padding: 5px 0;
  font-size: 14px;
  color: white;
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
}

.rosterElem {
  margin-bottom: 10px;
  color: mediumseagreen;
}